{% extends 'layout.html' %}
{% block content %}
<div class="m-3 p-3">
    <form method="POST">
        <legend>Sign Up</legend>
        <fieldset>
            <div class="row">
                <div class="col">
                    <label for="fname" class="form-label">First Name</label>
                    <input type="text" name="fname" class="form-control">
                </div>
                <div class="col">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" name="lname" class="form-control">
                </div>
            </div>
        </fieldset>

        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control">

        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control">

        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control">

        <label for="password-confirm" class="form-label">Confirm Password</label>
        <input type="password" name="password-confirm" class="form-control">
        
        <button class="btn btn-primary my-3">Create Account</button>
    </form>
</div>
{% endblock %}